streamlit==1.30.0
transformers==4.38.2
torch==2.1.0
tensorflow==2.15.0
nltk==3.8.1
tf-keras==2.15.0
plotly==5.17.0
pandas==2.1.4

# pip install -r requirements.txt
#If you get errors with torch, install it separately with:
#pip install torch torchvision torchaudio
